.App-main {
	display: block;
}
body, p, pre {
	margin: 0;
}
body {
	font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Microsoft YaHei","Source Han Sans SC","Noto Sans CJK SC","WenQuanYi Micro Hei",sans-serif;
}
body {
	font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Microsoft YaHei","Source Han Sans SC","Noto Sans CJK SC","WenQuanYi Micro Hei",sans-serif;
	font-size: 15px;
	color: #1a1a1a;
	background: #F6F6F6;
	-webkit-tap-highlight-color: rgba(26, 26, 26, 0);
}
.QuestionPage {
	position: relative;
}
.Question-main {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 10px auto;
	padding: 0 16px;
	width: 1000px;
	min-height: 100vh;
}
.Question-sideColumn {
	width: 296px;
}
.Question-sideColumnAdContainer {
	margin-bottom: 10px;
}
:empty.Question-sideColumnAdContainer {
	display: none;
}
.Card {
	margin-bottom: 10px;
	background: #FFFFFF;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(26,26,26,0.1);
	box-sizing: border-box;
}
.Card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding: 0 20px;
	border-bottom: 1px solid #F6F6F6;
	box-sizing: border-box;
}
.Card-section {
	padding: 16px 20px;
	position: relative;
}
a {
	color: inherit;
	text-decoration: none;
}
button:not(.toolbar button) {
	margin: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.Button {
	display: inline-block;
	padding: 0 16px;
	font-size: 14px;
	line-height: 32px;
	color: #8590a6;
	text-align: center;
	cursor: pointer;
	background: none;
	border: 1px solid;
	border-radius: 3px;
}
.Button--plain, .Button--link {
	height: auto;
	padding: 0;
	line-height: inherit;
	background-color: transparent;
	border: none;
	border-radius: 0;
}
.RelatedCommodities-item {
	display: flex;
	align-items: center;
}
:not(:first-child).RelatedCommodities-item {
	position: relative;
	margin-top: 10px;
	padding-top: 10px;
}
.RelatedCommodities-image {
	width: 80px;
	height: 64px;
	border-radius: 3px;
	margin-right: 8px;
	-o-object-fit: cover;
	object-fit: cover;
}
.RelatedCommodities-content {
	flex: 1 1;
	display: flex;
	flex-direction: column;
	text-align: left;
	overflow: hidden;
}
.RelatedCommodities-subject {
	color: #1a1a1a;
	font-size: 14px;
	font-weight: 600;
	font-synthesis: style;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.RelatedCommodities-description {
	color: #646464;
	margin-top: 6px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.RelatedCommodities-meta {
	display: flex;
	color: #8590a6;
	margin-top: 4px;
}
.RelatedCommodities-remixMeta, .RelatedCommodities-bookMeta {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.RelatedCommodities-bookRead {
	padding: 3px 6px 3px 3px;
	border-radius: 3px;
	line-height: 1;
	color: #ffffff;
	background: #0084FF;
}
.RelatedCommodities-bookRead .Zi {
	margin-right: 2px;
}
.RelatedCommodities-subject-two {
	max-height: 40px;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.RelatedCommodities-remixListen {
	position: relative;
	background: #fd3;
	color: #b37700;
	padding: 3px 6px 3px 18px;
	line-height: 1;
	border-color: #fd3;
	border-radius: 3px;
}
.Card-headerText {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 600;
	font-synthesis: style;
}
.SimilarQuestions-item {
	font-size: 14px;
	line-height: 21px;
	color: #8590a6;
}
.SimilarQuestions-item + .SimilarQuestions-item {
	margin-top: 10px;
}
.SimilarQuestions-item .Button {
	display: inline;
	color: #175199;
}
.AnswerInfo-title {
	font-weight: 600;
	font-synthesis: style;
}
.AnswerInfo-favlists {
	padding: 4px 20px;
	margin: 0;
}
.AnswerInfo-favlist {
	position: relative;
	padding: 12px 0;
	font-size: 14px;
	line-height: 24px;
	color: #8590a6;
}
:not(:first-child).AnswerInfo-favlist {
	border-top: 1px solid #F6F6F6;
}
.AnswerInfo-favlist-title {
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.AnswerInfo-favlist-followers {
	position: absolute;
	top: 12px;
	right: 0px;
}
.AnswerInfo-favlist a {
	display: inline;
	color: #175199;
}
.AnswerInfo-title .Button {
	font-size: inherit;
	color: #175199;
}
.AnswerAuthor :empty.Card-section {
	display: none;
}
.AnswerAuthor-counts {
	font-size: 14px;
	text-align: center;
}
.AnswerAuthor-buttons {
	display: flex;
	margin-top: 16px;
}
.Button--blue {
	color: #0084ff;
	border-color: #0084FF;
}
.FollowButton {
	min-width: 96px;
}
.Button--primary.Button--blue {
	color: #ffffff;
	background-color: #0084ff;
}
.Button--grey {
	color: #8590a6;
	border-color: #8590A6;
}
.AnswerAuthor-buttons .Button {
	flex: 1 1;
}
.MemberButtonGroup .Button + .Button {
	margin-left: 16px;
}
.Button--withIcon.Button--withLabel .Button-zi {
	margin-right: 4px;
}
.FollowButton-icon {
	margin-right: 8px;
	fill: currentColor;
}
.NumberBoard {
	display: flex;
}
.NumberBoard-item {
	flex: 1 1;
}
.NumberBoard-item.Button {
	border: 0;
	line-height: unset;
	font-size: unset;
}
.NumberBoard-itemInner {
	text-align: center;
	line-height: 1.6;
}
.NumberBoard-itemName {
	font-size: 14px;
	color: #8590a6;
}
.NumberBoard-itemValue {
	display: inline-block;
	font-size: 18px;
	color: #1a1a1a;
	font-weight: 600;
	font-synthesis: style;
}
.AnswerAuthor-user {
	display: flex;
	align-items: center;
}
.AnswerAuthor-user-avatar {
	margin-right: 12px;
}
.AnswerAuthor-user-content {
	flex: 1 1;
	overflow: hidden;
}
.AnswerAuthor-user-name, .AnswerAuthor-user-headline {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.AnswerAuthor-user-name {
	font-size: 20px;
	font-weight: 600;
	font-synthesis: style;
	line-height: 30px;
	color: #1a1a1a;
}
.AnswerAuthor-user-headline {
	font-size: 14px;
	line-height: 20px;
}
.ztext {
	word-break: break-word;
	line-height: 1.6;
}
.AnswerAuthor-user-headline .RichText {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.Avatar--large {
	border-radius: 4px;
}
.AnswerAuthor-user-avatar .UserLink, .AnswerAuthor-user-avatar .Popover, .AnswerAuthor-user-avatar .Avatar {
	display: block;
}
.Avatar {
	background: #FFFFFF;
	border-radius: 2px;
}
.Question-mainColumn {
	position: relative;
	width: 694px;
	padding-bottom: 20px;
}
.ViewAll {
	overflow: visible;
	overflow: initial;
}
.AnswerCard {
	transition: box-shadow 300ms;
}
.AnswerCard {
	overflow: visible;
	overflow: initial;
}
:last-child.Card {
	margin-bottom: 0px;
}
.QuestionMainAction {
	width: 100%;
	height: 50px;
	font-size: 15px;
	border: none;
	border-radius: 0;
}
a.QuestionMainAction {
	display: block;
	line-height: 50px;
	color: #8590a6;
	text-align: center;
}
.QuestionAnswer-content {
	padding: 16px 20px;
}
.ContentItem-meta {
	font-size: 15px;
	color: #646464;
}
.RichContent {
	line-height: 1.67;
}
.RichContent-inner {
	margin-top: 9px;
	margin-bottom: -4px;
	overflow: hidden;
}
.ContentItem-actions {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	margin: 0 -20px -10px;
	color: #646464;
	background: #FFFFFF;
	clear: both;
}
.Popover {
	position: relative;
	display: inline-block;
}
.ContentItem-action {
	margin-left: 24px;
	font-size: 14px;
}
.Button--withIcon.Button--iconOnly {
	padding: 0 4px;
}
.Button--withIcon.Button--plain, .Button--withIcon.Button--link {
	padding: 0;
}
.ContentItem-rightButton {
	margin-left: auto;
}
.ContentItem-arrowIcon.is-active {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.ShareMenu-fakeQRCode {
	display: none;
}
.VoteButton {
	padding: 0 10px;
	color: #0084ff;
	background: rgba(0, 132, 255, 0.1);
	border-color: transparent;
}
.VoteButton--down {
	margin-left: 4px;
}
.VoteButton-TriangleUp {
	margin-right: 5px;
}
.ContentItem-time {
	margin-top: 10px;
	font-size: 14px;
	color: #8590a6;
}
.ztext p {
	margin: 1.4em 0;
}
.ztext > :first-child {
	margin-top: 0px;
}
.ztext hr {
	margin: 4em auto;
	width: 240px;
	max-width: 100%;
	border: none;
	border-top: 1px solid #D3D3D3;
}
.ztext > :last-child {
	margin-bottom: 0px;
}
.AuthorInfo {
	display: flex;
	align-items: center;
}
.AnswerItem-authorInfo {
	margin-top: 10px;
}
.AnswerItem-authorInfo--related {
	margin-top: 0px;
}
.AnswerItem-extraInfo {
	margin-top: 10px;
	margin-bottom: -4px;
	font-size: 14px;
	color: #8590a6;
}
.Voters {
	color: #8590a6;
}
.AuthorInfo-content {
	flex: 1 1;
	margin-left: 14px;
	overflow: hidden;
}
.AuthorInfo-head {
	display: flex;
	align-items: center;
	font-size: 15px;
	line-height: 1.1;
	flex-shrink: 0;
}
.AuthorInfo-detail {
	overflow: hidden;
}
.AuthorInfo-badge {
	display: flex;
	align-items: center;
	margin-top: 2px;
	font-size: 14px;
}
.AuthorInfo-badgeText {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #646464;
}
.AuthorInfo-name {
	font-weight: 600;
	font-synthesis: style;
	color: #444444;
}
.AuthorInfo-avatar {
	vertical-align: top;
}
.QuestionHeader {
	position: relative;
	min-width: calc(1032px);
	padding: 16px 0;
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(26,26,26,0.1);
}
.Sticky.is-fixed {
	position: fixed;
	z-index: 2;
	box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased;
}
.Sticky--holder {
	visibility: hidden;
}
.QuestionHeader-content {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	height: 100%;
	padding: 0 16px;
	margin: 0 auto;
}
.QuestionHeader-footer {
	padding-bottom: 12px;
	margin-top: 4px;
	margin-bottom: -12px;
	background: #FFFFFF;
}
.QuestionHeader-footer-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1000px;
	height: 100%;
	padding: 0 16px;
	margin: 0 auto;
}
.QuestionHeader-main {
	width: 694px;
	padding-left: 20px;
	box-sizing: border-box;
}
.QuestionHeader-footer-main {
	display: flex;
	align-items: center;
	margin-top: 4px;
	min-width: 694px;
	width: auto;
}
.QuestionButtonGroup {
	display: inline-block;
	margin: 0 -8px;
}
.QuestionHeaderActions {
	display: flex;
	align-items: center;
}
.QuestionButtonGroup + .QuestionHeaderActions {
	margin-left: 16px;
}
.QuestionHeader-actions {
	display: flex;
	margin-left: 16px;
}
.QuestionHeaderActions > :not(:first-child).Button, .QuestionHeaderActions > :not(:first-child).Popover {
	margin-left: 20px;
}
.QuestionButtonGroup .Button {
	margin: 0 8px;
}
.Button-icon {
	margin-right: 7px;
}
.Icon {
	vertical-align: text-bottom;
	fill: currentColor;
}
.Button--red .Button-icon, .Button--blue .Button-icon, .Button--green .Button-icon {
	fill: currentColor;
}
.QuestionHeader-side {
	width: 296px;
	padding-right: 20px;
	text-align: right;
}
.QuestionFollowStatus-counts {
	width: 200px;
	margin-left: auto;
}
.QuestionFollowStatus-counts .NumberBoard-itemInner {
	padding: 0 8px;
}
.NumberBoard--divider .NumberBoard-item + .NumberBoard-item .NumberBoard-itemInner {
	border-left: 1px solid #EBEBEB;
}
.QuestionHeader-tags {
	display: flex;
}
h1, h2, h3 {
	margin: 0;
	font: inherit;
}
.QuestionHeader-title {
	margin-top: 12px;
	margin-bottom: 4px;
	font-size: 22px;
	font-weight: 600;
	font-synthesis: style;
	line-height: 32px;
	color: #1a1a1a;
}
.QuestionHeader-detail {
	min-height: 10px;
}
.QuestionRichText {
	font-size: 15px;
	line-height: 25px;
}
.QuestionHeader-topics {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding: 1px 0;
}
.Tag {
	position: relative;
	display: inline-block;
	height: 30px;
	padding: 0 12px;
	font-size: 14px;
	line-height: 30px;
	color: #0084ff;
	vertical-align: top;
	border-radius: 100px;
	background: rgba(0, 132, 255, 0.1);
}
.QuestionHeader-topics .QuestionTopic {
	margin: 3px 5px 3px 0;
	vertical-align: middle;
}